<?php echo $this->fetchSystemHead(); ?>
        <center>
            <button id="button1">Click me</button>
            <form name="test" method="post", action="/test/3/sadasWdaswe/" target="gate">
                <input type="submit" values="Send Me"/>            
            </form>
            
        </center>
        <script> 
        
        $(document).ready(function() {
           setActionCallback(function(response) {
             console.log(response);
             alert(response.action);  
           });
           //alert("asdasd"); 
        });
        
        
        $("#button1").click(function() {
           $.post("/access/test/", function(data) {
               console.debug(data);
              //alert("test2"); 
           });
        });
        
        </script>
        <?php
        
        //var_dump($this->getProperty("response"));
        ?>
<?php echo $this->fetchSystemFooter(); ?>