<!DOCTYPE html>
<html lang="<?php echo $this->getProperty("lang");?>">
    <head>
        <title><?php echo $this->getProperty("caption");?></title>
        
        <?php $metaArray = $this->getProperty("meta");?>
        <?php foreach ($metaArray as $metaName => $metaValue) { ?>
            <meta name="<?php echo $metaName; ?>" content="<?php echo $metaValue; ?>">
        <?php } ?>
        
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        
        <?php $cssArray = $this->getProperty("css");?>
        <?php foreach ($cssArray as $css) { ?>
            <link rel="stylesheet" href="<?php echo $css; ?>">
        <?php } ?>
        
        <link rel="shortcut icon" href="<?php echo $this->getProperty("icon"); ?>">
        
        <?php $jsArray = $this->getProperty("js");?>
        <?php foreach ($jsArray as $js) { ?>
            <script type="text/javascript" src="<?php echo $js; ?>"></script>
        <?php } ?>
        
        
    </head>
    <body>
        <script> var response = <?php echo json_encode($this->getProperty("response")->_options); ?> </script>